body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f0f2f5;
}

#login-section, #balance-section {
  margin-top: 50px;
}

input {
  padding: 10px;
  margin: 5px;
}
button {
  padding: 10px 20px;
  margin-top: 10px;
}