body {
  font-family: Arial;
  background: #f4f6fa;
  padding: 20px;
}

.card {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  margin-bottom: 20px;
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 250px;
}